body {
    font-family: 'DEC Terminal Modern', sans-serif;
    font-size: 1.5em;
    background-image: url(https://i.yapx.cc/OqAKA.gif);
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 100vh;
    backdrop-filter: blur(5px);
}

#workspace {
    overflow: auto;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}
#workspace::-webkit-scrollbar {
    width: 0;
}